body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100%;

  background: #fc1e8a;
  
  user-select: none; /*não deixa o usuário selecionar o texto*/
}

.container {
  position: relative;

  padding: 22px 40px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #dc38bc 70%, #fdeff9 100%);

  gap: 20px;
}

.container h2 {
  font-size: 3em;
  color: #FFF;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 20px;
  width: 100%;
  color: #000;
  background-color: #FFF;

  border: none;

  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

.reset:focus {
  color: #ec38bc;
  background: #000;
}

.game {
  width: 430px;
  height: 430px;

  display: flex;
  flex-wrap: wrap;

  gap: 10px;

  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;

  width: 100px;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #FFF;

  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.30s;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item::after {
  content: "";
  position: absolute;
  inset: 0;

  background: #404040;
  transition: 0.3s;
  transform: rotateY(0deg); 
  backface-visibility: hidden; /*esconde os elementos que estão atrás do card*/
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}